.checkbox-addonservice span{
    cursor:pointer;
    border-radius:100%;

}
.checkbox-addonservice input[type=checkbox]{
    display:none;
}
.checkbox-addonservice input[type=checkbox] + span {
    color: #ccc;
}
.checkbox-addonservice input[type=checkbox]:checked + span {
    color: #f00;
    font-style: normal;
    background-color:green;
}
.radiobox-addonservice span{
    cursor:pointer;
    border-radius:100%;
}
.radiobox-addonservice input[type=radio]{
    display:none;
}
.radiobox-addonservice input[type=radio] + span {
    color: #ccc;
}
.radiobox-addonservice input[type=radio]:checked + span {
    color: #f00;
    font-style: normal;
    background-color:green;
}