#fejlec {
	background: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
	padding: 0px;
}
#fejlec > .container > .jumbotron	{
	color: #fff;
	text-align: center;
	padding-top: 15%;
}

.container-fluid	{
	padding: 0px;
}

/*Jumbotron */

.container-fluid,
.jumbotron	{
	background: transparent;
	font-family: 'Source Sans Pro', sans-serif;
}


.jumbotron p 	{
	font-weight: normal;
}

.jumbotron h1	{
	font-weight: 700;
}

.jumbotron  > h1 > span	{
	font-weight: 300;
}

.jumbotron .btn-primary	{
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-size: 24px;
	padding: 10px 30px 10px 30px;
	margin-top: 50px;
}

.jumbotron .btn-primary:hover	{
	background: rgba(0, 0, 0, 0.3);
	border: 2px solid #fff;
}

/* Navbar */

.navbar-default	{
	background: #fff;
	border-color: transparent;
	font-family: 'Source Sans Pro',sans-serif;
}

.navbar-brand	{
	padding: 0px;
}

#fejlec > div.container-fluid > nav > div > div.navbar-collapse.collapse > ul > li > a	{
	color: #0c76ba;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
}

#fejlec > div.container-fluid > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(5) > a	{
	color: #fff;
	background: #0c76ba;
}

#fejlec > div.container-fluid > nav > div > div.navbar-collapse.collapse > ul > li:nth-child(5) > a:hover	{
	background: #109af2;
	color: #fff;	
}

#fejlec > div.container-fluid > nav > div > div.navbar-collapse.collapse > ul > li > a:hover	{
	color: #109af2;
	border-color: transparent;
}


#fejlec > div.container-fluid > nav > div > div.navbar-header > a	{
	color: #0c76ba;
	font-family: 'Source Sans Pro', sans-serif;
}

#fejlec > div.container-fluid > nav > div > div.navbar-header > button > span	{
	background: #0c76ba;
}

.navbar-default .navbar-toggle:hover	{
	background: #fff;
}

.navbar-default .btn-primary	{
	background: #0c76ba;
	color: #fff;
	padding: 5px 10px 5px 10px;
	margin-top: 8px;
	border-color: transparent;
}

.navbar-default .navbar-toggle	{
	background: #fff;
	border: 1px solid #0c76ba;
}

/* A kártya előnyei */

#akartya	{
	background: url('../images/cream_pixels.png');
}

#alcim	{
	margin-top: 40px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	background: url('../images/divider.png') no-repeat;
	background-position: bottom;
	font-family: 'Source Sans Pro',sans-serif;
}

#alcim h1	{
	text-align: center;
	font-weight: normal;
	font-size: 48px;
	color: #0c76ba;
}

.col-sm-4 	{
	color: #464646;
	font-size: 18px;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Source Sans Pro',sans-serif;
}

.glyphicon 	{
	color: #0c76ba;
	font-size: 56px;
}

/* Pontgyűjtés */

.col-sm-6	{
	color: #464646;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
}

.col-sm-6 > p > span {
	color: #0c76ba;
	font-weight: normal;
}

#pontgyujtes	{
	padding-bottom: 150px;
	background: url('../images/Gold.png');
	background-position: bottom;
	background-repeat: no-repeat;
}

/* Kártyatípusok */

#kartyatipusok	{
	background: url('../images/divider_white.png');
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 15px;
	margin-bottom: 30px;
}

#lablec	{
	background: #0c76ba;
	padding-top: 30px;
	font-family: 'Source Sans Pro',sans-serif;
}

#lablec .container h1	{
	text-align: center;
	color: #fff;
	font-size: 48px;
}

#lablec .col-sm-6 h2	{
	color: #fff;
	text-align: center;
	font-size: 24px;
}

#lablec .col-sm-6 p	{
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	text-align: center;
}

#kartyak	{
	text-align: center;
	padding: 0px 30px 30px 30px;
	font-family: 'Source Sans Pro',sans-serif;
}

/* Elérhetőségek */

.navbar-bottom 	{
	text-align: center;
	margin-top: 30px;
	font-family: 'Source Sans Pro',sans-serif;
	
}

#elerhetocim	{
	background: url('../images/divider.png') no-repeat;
	background-position: bottom;
	margin-bottom: 20px;
	padding-bottom: 10px;
	color: #0c76ba;
}

.navbar-bottom .glyphicon	{
	font-size: 36px;
}

.navbar-bottom p > span	{
	color: #0c76ba;
}

.blue{
    color: #0c76ba;
}

.datachange h4,
#reg h3,
#login h3{
    color: #0c76ba;
    text-align: center;
    
}
.errorMessage{
    background:#0c76ba;
    color:#fff;
    
}

.card1{
    width: 100%;
    position: relative;
}
.card1 img{
    width: 100%;
}
.card1 .cardname,
.card1 .cardnum{
  text-shadow: 3px 0px 5px rgba(0,0,0,0.8);
  color: #0c76ba;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
    }
.card1 .cardnum{
  bottom: 35%;
  left: 8%;
  font-size: 100%;

}
.card1 .cardname{
  bottom: 20%;
  left: 8%;

  font-size: 140%;

}

@media (max-width: 767px) {
  .errorMessage {
    width: 100%;
    float: left;
  }
}