img{
max-width:100%;	
}



a:hover{
	text-decoration:none;
	text-shadow:0px 0px 3px rgba(0,0,0,0.6);
	color:#835693;
}

body{
	background:url(img/bg.jpg) repeat-x top;
	  color: #008080;
	  font-size:14px;
}

.navbar-fixed-top{
position:relative;
}
header .navbar{
margin-bottom: 0px; 
}
header .navbar-nav {
  display: table;
  width: 100%;	
	margin: 5px 0px; 
 float:none!important;
 
 
  font-family: Helvetica;
  float: left;
  background: #FFFFFF;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
  border-top:1px #b3b3b3 solid;
 
}	

header .navbar-right
{
/*display:none;*/	
}


header .navbar-nav > li{
  display: table-cell;
   float:none;
  padding: 0;
  background-color: #fff;
  color: #5095d0;
  font-size: 14px;
  font-weight: bold;
}

header .navbar-default .navbar-nav > li > a{
  color: #5095d0;
  margin:0;
  padding:0;
}

header .navbar-default .navbar-nav > li:hover > a{
  color: #fff;
  background:#5095d0;

  margin:0;
  padding:0;

}


.navbar-default .container,
.container-fluid {
	padding: 0px!important; 
	margin: 0 auto!important;  
}
.navbar-default .navbar-collapse {
   padding-right: 0px; 
   padding-left: 0px; 

}


.navbar-collapse {
  z-index: 100;
  height:200px;
}

.maincontainer .container{
  background: transparent url(img/bg2.jpg) repeat-x;
  background-color: transparent; 
  border-radius: 10px;
  -moz-border-radius: border-radius;
  -webkit-border-radius: border-radius;
  -o-border-radius: border-radius;
  margin-bottom: 5px;
}


@media (max-width: 767px) {
	
header .navbar-collapse{
background:#fff;
  position: absolute;
  top: 45px;
  max-width:100%;
  width: 100%;
		}
header .navbar ul li{
	display:block;
	}
header .navbar ul li ul {
	position:relative;
	display:block;
	}	
header .navbar li > ul > li{
	display:none!important;
	}	
header .navbar-nav {
	margin: 5px 0px; 
}	
header .navbar-fixed-top .navbar-collapse {
  
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header
{
	margin-left:0;
	margin-right:0;
}

}

.navbar-header {
	display:block;
	width:100%!important;
}


.navbar-default {
  background-color: transparent;
  border: none;
}


.navbar-header .navbar-brand{
	display:block;
	height:45px;
	width:50%!important;
	font-size: 40px;
	color: #5095d0;
	float: left;
	display: block;
	width: auto;
	text-transform: uppercase;
	 margin-left: 0px!important;

}
.navbar-header .navbar-brand2{
    font-size: 40px;
	text-align:right;
}
/**/
@media (max-width: 767px) {
.navbar-header .navbar-brand2{
display:none;
}

	
}


.headerpic{
height:320px;
  background: #FFF url(img/headbg.jpg) no-repeat;
	background-size:contain;
  position: relative;	
}






.maincontainer .container{
  position:relative;
}
.maincontainer .container:first-child{
 /* background: none;*/
 margin-top:12px;
	
}

.maincontainer .container:nth-child(1):before{
	position:absolute;
  background: url(img/content_h_bg.png);
  left:0;
  top:-12px;
  height:13px;
  width:100%;
}

.maincontainer .container:last-child:after{
	position:absolute;
  background: url(img/content_b_bg.png);
  left:0;
  bottom:-10px;
  height:13px;
  width:100%;
}
left{
	padding:0 0 0 0!important;
}

left h1{
  width: 100%;
  padding-bottom: 7px;
	background: url(img/left_h1_bg.png) ;
  background-position: bottom center;
      background-size: 100% 40%;

  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Mountains of Christmas' !important;
  color: #835693;
  font-size: 38px;
  text-shadow: 2px 5px 10px rgba(0,0,0,0.5);
  -moz-text-shadow: text-shadow;
  -webkit-text-shadow: text-shadow;
  border: none;
  border-radius: 0;
  box-shadow: 1px 60px 30px rgba(114,113,113,0.1);
  background-color: #f6f6f6;
  border-top: #f6f6f6 10px solid;
  border-left: #f6f6f6 10px solid;
  border-right: #f6f6f6 10px solid;
  margin-left: -10px;
  -moz-box-shadow: box-shadow;
  -webkit-box-shadow: box-shadow;
  margin-bottom: 10px;
}


left nav ul li a,
left nav ul li
{
	position:relative;
	list-style:none;
	text-decoration:none;
	color:#b84639;
}
left nav ul > li > ul{
display:none;	
position:absolute;
top:-10px;
left:50%;
background-color: #f6f6f6;
margin:0;
padding: 5px;
box-shadow:2px 2px 3px rgba(0,0,0,0.7);
}
left nav ul > li > ul > li{
padding: 5px;
min-width: 130px;
}


left nav ul  li:hover  ul{
display:block!important;	
z-index:10;
}


@media (max-width: 767px) {
left{
	display:none;
}
	
}


.attencion{
	text-align:center;
	color:#b84639;
	padding-bottom:5px;

}

footer{
background:url(img/botbar_bg.png) repeat-x;
min-height:60px;	
margin-top:10px;
}





/*-------------------------------------------------------*/


/*social*/
social{
margin:10px 0;	
display:block;
}
social .facebook,
social .twitter,
social .googleplus{
	display:inline-block;
	height:30px;
	width:30px;
	background:#0F0;
}
social .facebook{
background:url(img/fb.png);
}
social .twitter{
background:url(img/twitter.png);
}
social .googleplus{
background:url(img/gplus.png);
}


.container-fluid .footads{
margin-top:20px;	
}


searchrecipe label{
display:none;	
}