Options +FollowSymlinks
Header set Cache-Control "max-age=29030400, public"
ExpiresDefault "access plus 1 years"
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteBase /engine/
RewriteBase /


RewriteRule \.(ico|js|swf|css|gif|flv|jpe?g|JPE?G|html|png|pdf|xls|mp3|avi|mpg|doc|docx|xls|xlsx|tif)$ - [L]

RewriteRule sitemap.xml sitemap.php?mr=1	[QSA]
RewriteRule sitemap sitemap.php?mr=1	[QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteCond %{REQUEST_URI} !^/?styl/$


RewriteRule ^(.*)(.*)$ index.php?mr=1&q=$1 [QSA]
#php_flag  display_errors                  on
#php_flag  display_startup_errors          on

ExpiresActive On
<FilesMatch "^(picture2.php%)$">
Header set Cache-Control "max-age=29030400, public"
ExpiresDefault "access plus 1 years"
Header unset Last-Modified
Header unset ETag
SetOutputFilter DEFLATE
</FilesMatch>


