@font-face {
	font-family: metapro;
	src: url("fonts/metapro-normal.otf") format("opentype");
}

@font-face {
	font-family: metapro;
	font-weight: bold;
	src: url("fonts/metapro-bold.otf") format("opentype");
}
@font-face {
	font-family: happyfox;
	src: url("fonts/happyfox-condensed.ttf") format("truetype");
}
@font-face {
	font-family: opensans;
	src: url("fonts/opensans-regular.ttf") format("truetype");
}

@font-face {
	font-family: opensans;
	font-weight: bold;
	src: url("fonts/opensans-bold.ttf") format("truetype");
}


.maincontainer{
	margin-top: 50px;
}


.imgWrap img{
width:100%;
}
/*NEWS Modul*/
news article img{
	width:100%;
	min-height: 300px;
}


.navbar ul li:before{
display:none;	
}
.navbar{
	background: #a1d9cc!important;
}
.navbar ul li{
display:inline-block;
}
.navbar ul li ul{
position:absolute;
left:10px;
width:auto;
display:none;	
background-color:#FFF;
padding: 0px!important;
margin:0px;
}
.navbar ul li ul a{
padding-left:5px;
}
.navbar ul:first-child > li > a {
	padding: 15px 5px;
}
.navbar ul:first-child > li > a:after {
	content: "/";
	margin-left: 5px;
}
.navbar ul:first-child > li:last-child a:after {
display: none;
}

.navbar ul li:hover ul{
display:block;
}


owner img{
border-radius: 50px 50px 50px 50px;
-moz-border-radius:border-radius;
-o-border-radius:border-radius;
-webkit-border-radius:border-radius;
}
body{
	font-family: 'opensans'!important;
}
h1,h2,h3{
	font-family: 'happyfox'!important;

}

.navbar-default {
	background-color: transparent!important;
	position: relative;

}

/*nav .container,*/

.navbar.navbar-default.navbar-fixed-top{
	background: #a1d9cc!important;
	position: relative;
}

.headcontainer{
	height: 150px;
}
nav{
	font-family: "metapro";
	font-weight: bold;
	text-transform: uppercase;
}

header
{
	/*background: center right no-repeat url("img/hegyek.png")!important; ;*/

}
header,
footer,
header .container-fluid
{
	padding:0px!important;

}

.carousel {
	margin-bottom: 23px;
}
footer
{
	background: bottom right no-repeat url("img/balcsi.png")!important;
	background-size: cover;

	min-height: 250px;
}


.navbar-brand{
	margin-top: -130px;
	background:#fff bottom center no-repeat url("img/logo.png")!important ;
	background-size: contain;
	width: 150px!important;
	height: 150px!important;
	padding: 15px!important;
	display: block;
	float: left;
	-ms-transform: rotate(-10deg); /* IE 9 */
	-webkit-transform: rotate(-10deg); /* Safari */
	transform: rotate(-10deg);
	text-indent: -10000000000px;
	box-shadow: -8px 14px 15px rgba(0,0,0,0.3);
}


.pager{
text-align:left;	
}
.select_pager_label{
	display:block;
	float:left;
	width:120px;
	font-weight:bold;
	text-align:left;

}

.select_pager
{
	display:block;
	float:left;
	width:320px;

}
.select_pager  .left_arrow,
.select_pager  .right_arrow
{
	display:block;
	float:left;
	width:10%;
	height:20px;
	border:none;
	text-align:center;
	cursor:pointer;
	
}
.select_pager .left_arrow:hover,
.select_pager .right_arrow:hover
{
	color:#FFC;
	
}


.select_pager .textb1
{
	display:block;
	float:left;
	width:80%;
	height:20px;
	text-align:center;
	font-weight:bold;
}


.select_pager
{
	display:inline-block;
}

.select_pager 
{
	color:#FFF;
	border: 1px solid #d1cecf;
	border-radius:0px;

}


.select_pager .bgcolor3
{
background: linear-gradient(to bottom, #FFF 0%,#e0e0e0 100%);
color:#630;	
}


ads img,
ads iframe
{
max-width:100%;	
}
#fbregsubmit,
.facebookButton{
  background: #44569e;
  border: #354480 solid 1px;
  color:#FFF;
}
.facebookButton{
padding:5px;	
}


.img-100 {
	width: 100%;
}


#myslider,
slider {
	margin-bottom: 10px;
	margin-top: 50px;
}
#myslider {
	margin-top: 80px;
}
#myslider .item img{
	display: block;
	width: 100%;
	height: auto;
}

#myslider .slideContent{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#myslider .slideContent a{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#myslider .slideText{
	display: block;
	position: absolute;
	left: 0%;
	bottom: 10%;
	max-height:80%;
	overflow:hidden;
	width:auto;
	min-width:30%;
	width: 100%;
	color:#fff;
	text-align: center;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
	width: 100%;
}

location{
	width: 100%;
	margin: 10px 0px;
	position: relative;
	float: left;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
location:hover{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}
news article img {
	width: 100%;
}
news article p,
.sitedectription,.description{
	font-size: 14px;

}
news article p,
.sitedectription,.description{
	font-size: 14px;

}
.oneurl:first-child{
	/* margin-top: 30px;*/
}
.oneurl {
	position: relative;
	min-height: 250px;
	margin: 10px 0;
}


.oneurl .btn {
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	padding: 10px;
	float: none;
	margin-top: 15px;
	width: 60%;
}

.oneurl .text {
	padding: 30px 20px;
	width: 33.333%;
	background-color: rgba(255, 255, 255, 0.8);
	overflow: hidden;
	text-overflow: ellipsis;
}
.video {
	margin: 15px 0;
}
@media only screen and (max-width: 1200px) {
	.oneurl .text {
		text-align: center;
		width: 50%;
	}
	.container {
		width: 80%;
	}
}
@media only screen and (min-width: 767px) {
	.navbar .c_head {
		margin-left: 15%;
		width: 85%;
	}

	.oneurl {
		padding: 0;
	}

	.oneurl .text {
		text-align: center;
		position: absolute;
		height: 100%;

		top: 0;
		right: 0;
	}

	.pairunpair:nth-child(odd) .oneurl .text {
		left: 0;
		right: auto;
	}

	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: -100px;
	}

	/* .ajanlatcontainer .csomagbox:first-child {
         padding-left: 0;
     }
     .ajanlatcontainer .csomagbox:last-child {
         padding-right: 0;
     }
 */
	.mindenhezhead {
		display: table !important;
		width: 100%;
	}

	.mindeheztartozik {
		display: table-cell;
		max-width: 70px;
	}
}
@media only screen and (max-width: 480px) {
	.navbar .c_head ul {
	}

	.oneurl .text {
		min-width: 100%;
	}

	#myslider,
	slider {
		margin-bottom: 10px;
		margin-top: 50px;
	}
}
@media (max-width: 768px){
	/* Menü*/

	.navbar-fixed-bottom .navbar-collapse,
	.navbar-fixed-top .navbar-collapse {
		max-height: none!important;
	}

	.navbar ul li,
	.navbar-collapse .navbar-nav li{
		display: block;
		float: none;
	}
	.navbar ul li ul{
		display: block;
		position: relative;
	}
	.navbar ul li ul li{
		display: inline-block!important;
	}
	.navbar ul li ul {
		left: 0px;
		padding-left: 10px;
	}
}
#breadCrumb{
	display: none;
}
.navbar-fixed-top{
	position: fixed!important;
	top: 0;
	left: 0;
}