span.en,
form.en {
	display: none !important;
}




@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeue.woff') format('woff'),
		 url('../fonts/HelveticaNeue.ttf') format('truetype'),
		 url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue-Thin';
	src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
		 url('../fonts/HelveticaNeue-Thin.ttf') format('truetype'),
		 url('../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
}



body,
h1, h2, h3, h4, h5, h6 {
	font-family: 'HelveticaNeue', sans-serif;
}
#page-loader .loader-logo {
	text-transform: none;
}
.logo {
	width: 161px;
	padding-top: 16px;
}
.padding-bottom {
	padding: 0 0 40px 0;
}
.feature-box {
	margin-top: 40px;
}
.feature-box.title {
	max-width: 760px;
}
.feature-box.title div {
	display: inline-block;
	width: 320px;
	height: 62px;
	border-bottom: 1px solid #676767;
}
.feature-box p {
	color: #676767;
	font-size: 18px;
	line-height: 22px;
	font-family: 'HelveticaNeue-Thin';
	margin-bottom: 30px;
}
.feature-box h4 {
	margin: 30px 0;
	color: #676767;
	font-size: 25px;
	letter-spacing: 4px;
	font-family: 'HelveticaNeue-Thin';
	text-transform:uppercase;
}
.feature-box.title h4 {
	margin: 12px 0 30px 0;
}
@media (max-width: 480px) {
	.feature-box.title div {
		width: 300px;
	}
}



/* PARALLAX */
.parallax {
	height: 310px;
	background-position: top center;
	background-attachment: fixed;
	background-color: transparent;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 6;
	-webkit-transform-style: preserve-3d;
}
@media (max-width: 991px) {
	.parallax { background-attachment: scroll !important; }
}
#testimonials {
	background-image: url("../img/back/hid.jpg");
}
#clients {
	background-image: url("../img/back/villamos.jpg");
}
#jobs {
	background-image: url("../img/back/lanchid_blur.jpg");
}



/* HEADER */
.jumbotron {
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/back/duna.jpg");
}
.jumbotron .header-logo {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	pointer-events: none;
}
.jumbotron .start {
	z-index: 1;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.start img {
	width: 50px;
}
@media (min-width: 1200px) {
	.jumbotron .header-logo { width: 520px; }
}
@media (max-width: 1199px) {
	.jumbotron .header-logo { width: 520px; }
}
@media (max-width: 991px) {
	.jumbotron .header-logo { width: 440px; }
}
@media (max-width: 767px) {
	.jumbotron .header-logo { width: 330px; }
}
@media (max-width: 479px) {
	.jumbotron .header-logo { width: 270px; }
}



/* NAVBAR */
.dot {
	display: inline-block;
	margin-right: 10px;
	visibility: hidden;
	width: 10px;
	height: 10px;
	background-color: #27aae2;
	padding-bottom: 6px;
}
.active .dot {
	color: #27aae2 !important;
	visibility: visible;
}
#main-nav {
	min-height: 55px;
	border-bottom: 1px solid #676767;
	-webkit-transition: top 0.4s, opacity 0.4s;
			transition: top 0.4s, opacity 0.4s;
}
#main-nav .container {
	padding: 0 15px;
	-webkit-transition: none;
	transition: none;
}
#main-nav li {
	margin: 0 0 0 20px;
	background-color: #fff;
	border: none;
}
#main-nav .nav a,
#main-nav .nav a:active {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 2px;
	color: #676767;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
#main-nav .nav a:hover,
#main-nav .nav li.active a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 500;
	box-shadow: none;
	padding: 0;
}
#main-nav .nav a:hover {
	color: #27aae2;
}
.navbar-collapse {
	background-color: #fff;
	border-top: none;
}
#main-nav.off {
	top: -80px;
	opacity: 0;
}
#main-nav.on {
	top: 0px;
	opacity: 1;
}
@media (max-width: 767px) {
	#main-nav li {
		margin: 0;
	}
}



/* ABOUT */
.title1 {
	width: 38px;
}
.icon1,
.icon2 {
	height: 64px;
}
.icon3,
.icon4 {
	height: 58px;
}



/* TESTIMONIALS */
#testimonials {
	color: #fff;
	padding: 10px 0 0 0;
}
#testimonials .container {
	padding: 0 30px;
}
#testimonials .testimonial,
#testimonials .client {
	color: #fff;
	font-size: 22px;
	line-height: 28px;
	font-family: 'HelveticaNeue';
	margin: 20px 10px;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}
.flex-control-nav {
	bottom: -30px;
}
img.quote {
	position: absolute;
	width: 32px;
	margin: 0;
}
img.quote_start {
	top: 10%;
	left: -10px;
}
img.quote_end {
	top: 40%;
	right: -10px;
}
@media (min-width: 1200px) {
	#testimonials.parallax { height: 310px; }
}
@media (max-width: 1199px) {
	#testimonials.parallax { height: 360px; }
}
@media (max-width: 991px) {
	#testimonials.parallax { height: 360px; }
}
@media (max-width: 767px) {
	#testimonials.parallax { height: 420px; }
}
@media (max-width: 479px) {
	#testimonials.parallax { height: 540px; }
}



/* PORTFOLIO */
.title2 {
	width: 48px;
}
#filter-works {
	margin: 20px 0;
	line-height: 22px;
}
#filter-works ul li {
	margin: 5px;
}
#filter-works ul li a {
	background-color: #fff;
	font-family: 'HelveticaNeue';
	color: #676767;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 1px;
	padding: 0;
	border-radius: 0;
	width: 100px;
	height: 24px;
	border: 1px solid #676767;
}
#filter-works ul li.active a,
#filter-works ul li:hover a {
	line-height: 22px;
	font-weight: normal;
	border: 1px solid #27aae2;
}
#filter-works ul li a.active,
#filter-works ul li a:hover {
	line-height: 22px;
	font-weight: normal;
	border: 1px solid #27aae2;
}
.project-item {

}
.project-item .details {
	position: absolute;
	width: 100%;
	height: 66px;
	padding: 8px;
	color: #fff;
	border: none;
	background-color: rgba(39, 170, 226, .9);
	bottom: -66px;
	opacity: 0;
	-webkit-transition: bottom 0.5s, opacity 0.5s;
			transition: bottom 0.5s, opacity 0.5s;
}
.project-item:hover .details,
.project-item.active .details {
	border-bottom: none;
	bottom: 0px;
	opacity: 1;
}
.project-item:hover h3,
.project-item.active h3 {
	color: #fff;
}
.project-item h3 {
	font-family: 'HelveticaNeue-Thin';
	font-size: 22px;
	color: #fff;
	letter-spacing: 1px;
}
.project-item small {
	font-family: 'HelveticaNeue-Thin';
	font-size: 16px;
	color: #fff;
}



/* CLIENTS */
.title3 {
	width: 60px;
	margin-top: 20px;
}
#our_clients h4 {
	margin-bottom: 60px;
}
#clients .container {
	height: 100%;
	display: table;
	position: relative;
}
#clients .partners {
	display: table-cell;
	vertical-align: middle;
}
/* http://stackoverflow.com/questions/9483364/css3-background-image-transition */
.partner {
	position: relative;
}
.partner > img {
	display: block;
	position: absolute;
	/* transitions */
	-webkit-transition: opacity .5s ease;
	   -moz-transition: opacity .5s ease;
		-ms-transition: opacity .5s ease;
		 -o-transition: opacity .5s ease;
			transition: opacity .5s ease;
}
/* solution 2: css2 solution, hide/show elements by class */
.partner > img.normal { 
	filter: alpha(opacity=100); /* IE stuff */
	opacity: 1;
	z-index: 2;
}
.partner > img.hover {
	filter: alpha(opacity=0); /* IE stuff */
	opacity: 0;
	z-index: 1;
}
/* hover */
.partner:hover > img.normal { 
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 1;
}
.partner:hover > img.hover { 
	filter: alpha(opacity=100);
	opacity: 1;
	z-index: 2;
}
@media (min-width: 1200px) {
	#clients .col-centered { margin: 10px; }
	#clients.parallax { height: 310px; }
	.partner, .partner > img {
		width: 180px;
		height: 90px;
	}
	.countries span {
		font-size: 18px;
		line-height: 30px;
		width: 210px;
	}
}
@media (max-width: 1199px) {
	#clients .col-centered { margin: 10px; }
	#clients.parallax { height: 360px; }
	.partner, .partner > img {
		width: 180px;
		height: 90px;
	}
	.countries span {
		font-size: 16px;
		line-height: 27px;
		width: 210px;
	}
}
@media (max-width: 991px) {
	#clients .col-centered { margin: 10px; }
	#clients.parallax { height: 330px; }
	.partner, .partner > img {
		width: 160px;
		height: 80px;
	}
	.countries span {
		font-size: 18px;
		line-height: 30px;
		width: 210px;
	}
}
@media (max-width: 767px) {
	#clients .col-centered { margin: 5px; }
	#clients.parallax { height: 360px; }
	.partner, .partner > img {
		width: 140px;
		height: 70px;
	}
	.countries span {
		font-size: 14px;
		line-height: 24px;
		width: 160px;
	}
}
@media (max-width: 479px) {
	#clients .col-centered { margin: 5px; }
	#clients.parallax { height: 390px; }
	.partner, .partner > img {
		width: 120px;
		height: 60px;
	}
	.countries span {
		font-size: 14px;
		line-height: 24px;
		width: 160px;
	}
}
/* centered columns styles */
#clients .row-centered {
	text-align: center;
}
#clients .col-centered {
	display: inline-block;
	float: none;
	/* reset the text-align */
	text-align: left;
	/* inline-block space fix
	margin-right: -4px; */
}



/* WORLD */
#world .feature-box {
	margin-top: 60px;	
}
#world_wrap {
	position: relative;
	width: 100%;
}
#world_map {
	width: 100%;
	opacity: 1;
}
.country {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 15px;
	right: 15px;
}
.country img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	webkit-transition: opacity .2s ease;
	  -moz-transition: opacity .2s ease;
	   -ms-transition: opacity .2s ease;
		-o-transition: opacity .2s ease;
		   transition: opacity .2s ease;
	opacity: 0;
}
.country img.sel {
	z-index: 1;
	opacity: 1 !important;
}
.countries span:hover,
.countries span.active {
	color: #27aae2;
}
.countries span {
	color: #676767;
	font-family: 'HelveticaNeue-Thin';
	cursor: pointer;
	display: inline-block;
}



/* JOBS */
.title4 {
	height: 50px;
}
#jobs .feature-box.title div {
	border-bottom: 1px solid #fff;
}
#jobs .feature-box h4 {
	color: #fff;
	letter-spacing: 1px;
}
#jobs .feature-box p {
	color: #fff;
}
#jobs .feature-box a {
	color: #fff;
	font-family: 'HelveticaNeue';
}
@media (max-width: 480px) {
	#jobs.parallax {
		height: 420px;
	}
	#jobs .feature-box h4 {
		letter-spacing: 0;
	}
}
@media (min-width: 1200px) {
	#jobs.parallax { height: 310px; }
}
@media (max-width: 1199px) {
	#jobs.parallax { height: 330px; }
}
@media (max-width: 991px) {
	#jobs.parallax { height: 360px; }
}
@media (max-width: 767px) {
	#jobs.parallax { height: 360px; }
}
@media (max-width: 479px) {
	#jobs.parallax { height: 390px; }
}



/* CONTACT */
.title5 {
	width: 52px;
}
.title6 {
	width: 32px;
	margin: 5px 40px 40px 10px;
}
.title7 {
	width: 32px;
	margin: 5px 40px 0 10px;
}
.contact-info {
	text-align: left;
}
#contact .feature-box p {
	margin-bottom: 20px;
}
#contact .subrow {
	margin-top: 40px;
}
#contact .subrow p,
#contact .subrow a {
	margin: 0;
	font-family: 'HelveticaNeue-Thin';
	font-size: 18px;
	color: #676767;
}
.contact-form {
	margin-top: 20px;
}
.contact-form textarea.form-control {
	font-size: 18px;
	height: 147px;
	resize: none;
	line-height: 25px;
}
.contact-form .form-control {
	color: #1a1a1a;
	font-family: 'HelveticaNeue-Thin';
	font-size: 18px;
	padding: 10px;
	height: 44px;
	overflow: hidden;
	background-color: #fff;
	border-color: #fff;
	border-bottom: 1px solid #676767;
	/* switch off iOS input corner rounding */
	-webkit-appearance: none;
}
.contact-form .form-control:focus {
	background:#fff;
	border-bottom: 1px solid #676767;
	outline:none;
	box-shadow:none;
	-webkit-transition: none;
			transition: none;
}
#contact .btn {
	margin: 20px 10px 0 0;
	background-color: #fff;
	font-family: 'HelveticaNeue';
	color: #676767;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 1px;
	padding: 0 10px;
	border-radius: 0;
	width: 150px;
	height: 24px;
	border: 1px solid #676767;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#contact .btn:hover {
	margin: 20px 10px 0 0;
	background-color: #27aae2;
	border-color: #27aae2;
	color: #fff;
}
#contact-form .error-message {
	padding: 5px 10px;
}
/* http://stackoverflow.com/questions/20773665/fail-to-change-placeholder-color-with-bootstrap-3 */
::-webkit-input-placeholder { color: #333; }
:-moz-placeholder			{ color: #333; }
::-moz-placeholder			{ color: #333; }
:-ms-input-placeholder		{ color: #333; }



/* MAP */
#location-map {
	height: 300px;
}
#location-map .map {
	width: 100%;
	height: 300px;
}



/* FOOTER */
footer {
	background-color: #fff;
	height: 60px;
}