@font-face {
  font-family: "MyriadPro";
  src: url("MyriadPro-Regular.otf") format("opentype");
}

body{
	background:url(img/bg.jpg) repeat-x;
	line-height:1.5;
}

.site{
	line-height:1.5;
	}


.clear{
clear:both;
}


a{
color:#5095d0;
text-decoration:none;	
}
a:hover{
color:#0CF;	
	text-shadow: 0px 1px 3px rgba(0,0,0,0.6); 
	-moz-text-shadow: text-shadow;
	-webkit-text-shadow: text-shadow;
}



h1,h2,h3{
color:#5095d0;
margin-top:15px;
margin-bottom:10px;
}
h2{
	font-weight:bold;
	16px;
margin-top:8px;
margin-bottom:5px;	
}
h3{
	12px;
margin-top:5px;
margin-bottom:5px;	
}
input,select{
padding:1px;
border:#CCC 1px thick;
border-radius:5px;
-webkit-border-radius: border-radius;
-moz-border-radius: border-radius;
box-shadow: rgba(0,0,0,0.6) 0px 0px 3px;  
//box-shadow: rgb(0,0,0) 0px 0px 2px;  
-webkit-box-shadow: box-shadow;
-moz-box-shadow: box-shadow;	
}
input:active,input:focus,select:focus,select:active{
border-color:#F90;	
}

label{
display:inline-table;
text-align:right;
padding-right:5px;
width:100px;

}

.button1{
float:right;
display:block;
width:auto; 
page-break-before:always;
padding:3px 13px 3px 13px;
margin:3px;
margin-right:30px;
background:#000;
color:#CCC;	
border-radius:10px;
-webkit-border-radius: border-radius;
-moz-border-radius: border-radius;
}

.heigthtrans{
	transition: height 2s linear;
		-webkit-transition: height 2s linear;
		-moz-transition: height 2s linear;
		-o-transition: height 2s linear;
		-ms-transition: height 2s linear;
}

.bgtrans{
transition: background-color 2s;
	-webkit-transition: background-color 2s;
	-moz-transition: background-color 2s;
	-o-transition: background-color 2s;
	-ms-transition: background-color 2s;
}


::-moz-selection {
       background-color: #630;
       color: #fff;

}

::selection {
       background-color: #630;
       color: #fff;

}


logo{

/*font:Tahoma;*/
font-family:Helvetica;
float:left;
background:url(img/img07.png) no-repeat;
/*background-color:#630;*/
height:40px;
width:200px;
color:#5095d0;                    /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
font-size:14px;
font-weight:bold;
padding: 3px 20px 3px 20px;
border-radius: 10px;
-webkit-border-radius: border-radius;
-moz-border-radius: border-radius;
padding-left:50px;
padding-top:7px;
font-size:26px;
}

logo:hover{
/*background-color:#033;*/
}

.site{
margin:0;
padding:0;
width:1000px;
background:none; /* !!!!!!   */
margin-left:auto;
margin-right:auto;

}

/*---------------------------*/

section{
border-radius:10px;
-moz-border-radius:border-radius;
-webkit-border-radius:border-radius;
-o-border-radius:border-radius;

margin-bottom:5px;
	
}

article{
	/*border:#CF6 1px solid;
	background:#fffaee;*/
	opacity: 0.7;
	-moz-transition:  1s ease-out, opacity 1s ease;
	-webkit-transition:  1s ease-out, opacity 1s ease;
	-o-transition:  1s ease-out, opacity 1s ease;
	transition:  1s ease-out, opacity 1s ease;

	
}

article:hover{
	/*border:#CF6 1px solid;*/
	opacity: 1;

}




/*  NAVIGÁCIÓ/MENÜ elemek  */

nav{
	font-family:Helvetica;
	float:left;
	background:#F3F3F3;
	background:url(img/bg2.jpg) repeat-x;
	width:100%;
	padding-top:2px;
	padding-bottom:2px;
	/*border:1px #b3b3b3 solid;*/
	border:none;
	border-radius:1px;
	-moz-border-radius:border-radius;
	-webkit-border-radius:border-radius;
	-o-border-radius:border-radius;	
}
nav a,
nav span
{
display:block;
width:100%;
height:auto;
}

nav ul{
	-webkit-padding-start: 0;
/*	background:#960;*/
}
nav ul li{
	display:inline-block;
	
	list-style-type:none;
	padding: 3px 8px 3px 8px;
	background-color:#fff;      /* Linklista háttérszíne  */
	color:#5095d0;
	font-size:14px;
	font-weight:bold;
	
	
	
}
nav ul li:hover,
nav ul li:hover a
{
	background:#5095d0;		/* Linklista háttérszíne  */
	text-shadow: 0px 0px 3px rgba(0,0,0,0.7); 
	-moz-text-shadow: text-shadow;
	-webkit-text-shadow: text-shadow;
	color:#FFF;
}





nav ul li ul{
	background:#fff;
	position:absolute;
	box-shadow: rgba(0,0,0,0.7) 0px 6px 8px;
	-webkit-box-shadow: box-shadow;
	-moz-box-shadow: box-shadow;
	height:0px;
	overflow:hidden;
	z-index:101;
	display: none;
}
nav ul li:hover ul{
	display: block;
}
nav ul li:hover ul{
	height:auto;
			box-shadow: rgba(0,0,0,1) 0 0px 5px;  
		 -webkit-box-shadow: box-shadow;
		 -moz-box-shadow: box-shadow;	
}

/*Alemenüelemek*/
nav ul li ul li{
		display:list-item;
  		min-width:100px;
 
}
nav ul li ul li:hover{
	background:#6f0;		/* Linklista háttérszíne  */
	text-shadow: 0px 1px 3px rgba(0,0,0,0.6); 
	-moz-text-shadow: text-shadow;
	-webkit-text-shadow: text-shadow;
}
nav ul li ul li:hover, 
nav ul li ul li:hover a,
nav ul li ul li:hover span 
{
	color:#FFF
}


nav ul li ul li a,
nav ul li ul li span
{
padding: 3px 8px 3px 8px;
	color:#FFF

}
/*  NAVIGÁCIÓ/MENÜ elemek  */



/*---------------------------*/

.menu ul li{
	margin:3px;
	display:table-cell;
}
	
	

	.menu ul li ul li, /*felső almenü eleme  */
	.menu ul li ul li:hover{
		display:list-item;
		//display:block;
		font-weight:100;
		min-width:100px;
		border:none;
		margin:0;
		padding:0;
		box-shadow:none;
	}
	
	
	.menu li:hover ul li, /* visszaállítja a rendet... :) */
	.menu li:hover ul li a,
	.menu li:hover ul li span,
	.menu li:hover ul li:hover{
		border:0;	
		border-radius:0;
		opacity:0.8;
	}
	


/* ----------------------------------------- */
.pagefull,.pageleftside,.pagerightside,.pagercenter{
float:left;
width:100%;
			background:url(img/bg2.jpg) repeat-x;

}

.pagefull article{
/*float:left;*/
width:240px;
height:240px;
margin: 3px;
display:compact;
position:relative;
overflow:hidden;
float:left;
}

/* ------------------------------------- */
.pagercenter left,
.pageleftside left
{
float:left;
width:214px;
padding:3px;
}
.pageleftside right,
.pagerightside left
{
float:left;
width:780px;	

}
/**/

.pagercenter right,
.pagerightside right
{
float:right;
padding:3px;
width:214px;
}
/**/

.pagercenter left nav,
.pagercenter right nav,
.pageleftside left nav,
.pagerightside right nav
{
		position:relative;
		border:none;
		display:block;
		text-align:left;
		height:auto;
}

.pagercenter left nav ul,
.pagercenter right nav ul,
.pageleftside left nav ul,
.pagerightside right nav ul
{
	 /*!!!!!!!*/
}

.pagercenter left nav li,
.pagercenter right nav li,
.pageleftside left nav li,
.pagerightside right nav li
{
 display:block;
 width:auto;
 padding:3px;
}

.pagercenter right nav li,
.pagerightside right nav li
{
	text-align:right;
}

.pagercenter left nav li:hover,
.pagercenter right nav li:hover,
.pageleftside left nav li:hover,
.pagerightside right nav li:hover
{
	 /*!!!!!!!*/
}

.pagercenter left nav li ul,
.pageleftside left nav li ul
{
	position:absolute;
	display:none;
	right:0;
	margin-top:-20px;
	min-width:100px;
}
.pagercenter right nav li ul,
.pagerightside right nav li ul
{
	position:absolute;
	display:none;
	left:0;
	margin-top:-20px;
	min-width:100px;
	text-align:left;
}

.pagercenter left nav li:hover ul,
.pagercenter right nav li:hover ul,
.pageleftside left nav li:hover ul,
.pagerightside right nav li:hover ul
{
	display:block;
}


.pagercenter right nav li ul li,
.pagercenter left nav li ul li,
.pageleftside left nav li ul li,
.pagerightside right nav li ul li
{
	display:block;
	width:auto;
}

.pagercenter right nav li ul li,
.pagerightside right nav li ul li
{
	text-align:left;
}

.pagercenter left nav li ul li a,
.pagercenter left nav li ul li span,
.pageleftside left nav li ul li a,
.pageleftside left nav li ul li span{
	display:block;
	width:auto;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
}


.pagercenter right nav li ul li a,
.pagercenter right nav li ul li span,
.pagerightside right nav li ul li a,
.pagerightside right nav li ul li span{
	display:block;
	width:auto;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
}
/**/


.pagercenter center
{	float:left;
	width:560px;	
}

.pagercenter center article 
{		
	float:left;
	width:268px;
	height:200px;
	margin:3px;
}

/* -----------------------------------  */
.pageleftside right
{
}

.pageleftside right article,
.pagerightside left article
{
	float:left;
	width:250px;
	height:200px;
	margin: 3px;	
}






footer,
.section{
	/*background:#0C0;*/
	float:none;
	text-align:center;
		border:1px #b3b3b3 solid;

	}




/*----------------------------------------------------------------------------------------------------*/
.adminseourl,.floatbutton{
position:fixed;
left:0px;
top:0px;
width:50px;
height:25px;
background:rgba(200,200,200,0.6);
z-index:999999;
border:#999 1px double;
overflow:hidden;

border-bottom-right-radius: 10px;
-webkit-border-radius: border-radius;
-moz-border-radius: border-radius;

 box-shadow: rgba(0,0,0,0.8) 0 3px 5px;  
  -webkit-box-shadow: box-shadow;
   -moz-box-shadow: box-shadow;
   
 transition: width 2s,height 2s;
-webkit-transition: width 2s,height 2s;
-moz-transition: width 2s,height 2s;
-o-transition: width 2s,height 2s;
-ms-transition: width 2s,height 2s;
   
}

.adminseourl:hover,.floatbutton:hover{
width:200px;
height:110px;
background:rgba(200,200,200,0.8);	

 box-shadow: rgba(0,0,0,1) 0 1px 10px;  
  -webkit-box-shadow: box-shadow;
   -moz-box-shadow: box-shadow;

}


.floatbutton{
position:fixed;
top:80px;
left:0px;
width:22px;
height:	75px;
background:rgba(99,6,48,0.8);	
color:#CCC;
font-size:14px;
text-align:right;
padding:5px;
padding-right:10px;

border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
-webkit-border-radius: border-radius;
-moz-border-radius: border-radius;
}

.floatbutton .hiddentext{
width:0px;
float:left;
min-height:	150px;
margin-left:10px;
text-align:left;
overflow:hidden;
 transition: width 2s,height 2s;
-webkit-transition: width 2s,height 2s;
-moz-transition: width 2s,height 2s;
-o-transition: width 2s,height 2s;
-ms-transition: width 2s,height 2s;

}
.floatbutton .hiddentext a
{
display:block;
}


.floatbutton:hover{
width:80px;
height:	165px;
background:rgba(99,6,48,1);
}

.floatbutton:hover .hiddentext{
float:left;
width:60px;

}





.facebookcontainer{
position:fixed;
top:80px;
left:45px;
width:180px;
height:320px;
background-color:#FFF;
display:none;
z-index:99999;
}
.facebookbutton{
position:fixed;
top:110px;
left:-5px;
width:50px;
height:50px;
cursor:pointer;
}

/*-------------------------------------------------------*/

.socialmedia{
position:absolute;
top:0;
right:160px;	
}

.border4
{
	border-radius:10px 10px 8px 10px;
}

.tdhead{
	background:#630;
	color:#FFF;
}


.headerpic .text,
.headerpic .text1{
font:Cantarell;
font-size:40px;
color:#5095d0;	
float:left;
display:block;
width:auto;
text-transform:uppercase;
}
.headerpic .text1{
	float:right;
}

.head_element{
	height:360px;
	width:1000px;
	background:#FFF url(img/headbg.jpg) no-repeat;
	background-position:left;
	position:relative;
	
}

.head_element .hir{
	position:absolute;
	width:340px;
	height:340px;
	right:10px;
	padding:10px;
	overflow:hidden;
}

.hir1,
.hir2,
.hir3{
display:block;
width:960px;
height:160px;
padding:10px;
margin:5px;
position:relative;
float:left;
overflow:hidden;
border-bottom:1px solid #CCC;
background: url(img/bg2.jpg) top repeat-x;

}
.hir1 .more,
.hir2 .more,
.hir3 .more
{
display:block;
position:absolute;
right:5px;
bottom:5px;
font-size:12px;
}


.hir2{
width:465px;
height:160px;

}

.hir3{
display:block;
width:300px;
height:160px;
}
.menu>ul{
	display: table;
	width: 100%;
}
slider{
	display: none;
}