@media print {
footer,
nav,
.addrecipe,
.filedrop,
#recepthez,
.headerpic,
.button {
display:none!important;
}
.col-sm-6
{
width:49%!important;	
float:left!important;
}


.recipeingrdient{
	width:100%;
	display:table;
	position:relative;
}

.recipeingrdient input{
width:60px!important;
}

.energia,#energia{
background:#C1F0FF!important;	
}
.kaloria,#kaloria{
background:#CCFDD1!important;	
}
.szenhidrat,#szenhidrat{
background:#FFDBAE!important;
}
.feherje,#feherje{
background:#FFC!important;
}
.zsir,#zsir{
background:#FFFBDD!important;
}
.rost,#rost{
background:#F7CBFE!important;
}
.koleszterin,#koleszterin{
background:#E1D7FF!important;	
}

a[href]:after {
   content:"" !important;
}
recipes recipe
{
display:block!important;
float:left!important;
width:29%!important;
height:650px!important;
}
recipes recipe .tabla
{
	display:block!important;
width:100%!important;
}

recipe .icon{
	background-image:url(img/diabicon1.png)!important;
	float:left;	
	display:block;
	width:30px!important;
	height:34px!important;
	overflow:hidden;	
}



.toprecipe .floattext{
position:relative;	
}

}