@font-face {
    font-family: opensans;
    src: url("fonts/opensans-regular.ttf") format("truetype");
}

@font-face {
    font-family: opensans;
    font-weight: bold;
    src: url("fonts/opensans-bold.ttf") format("truetype");
}

html {
    font-family: opensans;
    background: transparent url(img/htmlbg.png) no-repeat center bottom;
    background-size: contain;
    min-height: 100%;
}

body {
    background: transparent;
    font-size: 2em;

}

header {
    padding: 0;
}

.maincontainer {

    margin-top: 100px !important;
}

.imgWrap img {
    width: 100%;
}

/*NEWS Modul*/
news article img {
    width: 100%;
}

header .container-fluid {
    padding: 0;
}

.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border: none !important;;
    width: 100%;
}

.navbar {
    font-size: 0.7em;
    text-transform: uppercase;
    background: -moz-linear-gradient(0deg, #FFFFFF 0, #EBEBEB 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, 0deg, color-stop(0, FFFFFF), color-stop(100%, EBEBEB)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #FFFFFF 0, #EBEBEB 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #FFFFFF 0, #EBEBEB 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #FFFFFF 0, #EBEBEB 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(0deg, #FFFFFF 0, #EBEBEB 100%); /* W3C */
}

.navbar-brand {
    background-image: url(img/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -10000px;
}

.navbar-nav > li > a {
    text-transform: uppercase;
}

.navbar-nav > li > a:after {
    content: '\25bc';
    font-size: 0.5em;
    margin-left: 3px;
}

.navbar-nav > li > a:only-child:after {
    content: '';
}

.navbar ul li:before {
    display: none;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li ul {
    position: absolute;
    left: 10px;
    width: auto;
    display: none;
    background-color: #fff;
    padding: 0px !important;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 1px 10px;
    border-radius: 0 5px 5px 5px;
}

.navbar ul li ul a {
    padding-left: 5px;
    color: #777;
}

.navbar ul li:hover ul {
    display: block;
}

.navbar ul li ul li {
    display: block;
}

.navbar ul li ul li a {
    padding: 7px 10px;
    display: block;
    text-decoration: none;
}

.navbar ul li ul li a:hover {
    color: #2e383c;
    background-color: #fdfdfd;
}

left ul li,
.veritcalmenu ul li {
    list-style-type: none !important;
    display: block;
}

left ul li ul,
.veritcalmenu ul li ul {
    display: none;
}

left ul li:hover ul,
.veritcalmenu ul li:hover ul {
    display: block;
}

owner img {
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: border-radius;
    -o-border-radius: border-radius;
    -webkit-border-radius: border-radius;
}

/* cartip */
.ot{
    background-image: url("img/usflag.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}



/* selectbox_roll */

.pager {
    text-align: left;
}

.select_pager_label {
    display: block;
    float: left;
    width: 120px;
    font-weight: bold;
    text-align: left;

}

.select_pager {
    display: block;
    float: left;
    width: 320px;

}

.select_pager .left_arrow,
.select_pager .right_arrow {
    display: block;
    float: left;
    width: 10%;
    height: 20px;
    border: none;
    text-align: center;
    cursor: pointer;

}

.select_pager .left_arrow:hover,
.select_pager .right_arrow:hover {
    color: #FFC;

}

.select_pager .textb1 {
    display: block;
    float: left;
    width: 80%;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

.select_pager {
    display: inline-block;
}

.select_pager {
    color: #FFF;
    border: 1px solid #d1cecf;
    border-radius: 0px;

}

.select_pager .bgcolor3 {
    background: linear-gradient(to bottom, #FFF 0%, #e0e0e0 100%);
    color: #630;
}

ads img,
ads iframe {
    max-width: 100%;
}

/*carusel*/
.owl-carousel .item img {
    width: 100%;
}

#fbregsubmit,
.facebookButton {
    background: #44569e;
    border: #354480 solid 1px;
    color: #FFF;
}

.facebookButton {
    padding: 5px;
}

/* Required */
.hiddenb {
    opacity: 0;
}

.visible,
.visibleb {
    opacity: 1;
}

/*Slider*/
#myslider,
slider {
    margin-bottom: 10px;
}

#myslider {
}

#myslider .item img {
    display: block;
    width: 100%;
    height: auto;
}

#myslider .slideContent {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#myslider .slideContent a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#myslider .slideText {
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0;
    max-height: 100%;
    overflow: hidden;
    width: auto;
    min-width: 30%;
    width: 100%;
    color: #000;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
}

/*fooldal*/
.pairunpair.location .cim {
    padding: 10px 20px;
    display: inline-block;
    background-color: transparent;
    text-transform: capitalize;
}

.pairunpair.location,
.onelocation .text {
    text-align: center;
}

.img-100 {
    width: 100%;
}

.home article {
    position: relative;
}

.home article .text {
    position: absolute;
    display: block;
    top: 2%;
    left: 2%;
    width: 60%;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.7);
}

.pairunpair:nth-child(odd) article .text {
    right: 2% !important;
    left: auto !important;
}

/*ANIM*/
.animst1 {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    display: block;
    overflow: hidden;
    -webkit-perspective: 500px; /* Chrome, Safari, Opera  */
    perspective: 500px;
    font-family: 'Coustard', 'Nothing You Could Do', cursive;
    margin-bottom: 10px;
}

.animst1 .contentlayer,
.animst1 .bgcenterlayer,
.animst1 .bgcenterlayer1,
.animst1 .bg {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: absolute;
    background-size: cover;
}

.animst1 .bg {
    position: relative;
    overflow: hidden;
}

.animst1 .bgcenterlayer {
    width: 102%;
    background-image: url("http://www.aquasoft.de/blog/hilfe/files/2013/01/Schmutz.png");
    height: 100%;

}

.animst1 .bgcenterlayer1 {
    width: 110%;
    height: 100%;
    background-image: url("http://photoshop-kepszerkeszte.lapunk.hu/tarhely/photoshop-kepszerkeszte/kepek/ecsetek/reszecskek_es_csillagok__3_.png");

}

.animst1 .contentlayer a {
    text-decoration: none;
    color: #300 !important;
}

.animst1 .contentlayer {
    position: absolute;
    left: 1%;
    width: 50%;
    top: 5%;
    height: 90%;
    background: rgba(255, 255, 255, 0.6);
    color: #300 !important;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    font-size: 3em;
    opacity: 0.4;

}

.animst1:nth-child(2n+2) .contentlayer {
    left: auto;
    right: 1%;
    width: 50%;
}

.animst1 .contentlayer h2 {
    font-family: 'Fugaz One', cursive;
    font-size: 25px;
}

.animst1 .bg img {
    position: relative;
    animation-name: bounce1;
    animation-duration: 10s!important;
    animation-iteration-count: infinite;
}

.animst1:nth-child(2n) .bg img {
    position: relative;
    animation-name: bounce2;
    animation-duration: 10s!important;
    animation-iteration-count: infinite;
}

.animst1 .bg img {
    position: relative;
    width: 100%;
    display: block;
}

.animst1 .bgcenterlayer {
    animation-name: leftrigth1;
    animation-duration: 13s!important;
    animation-iteration-count: infinite;
}

.animst1 .bgcenterlayer1 {
    animation-name: leftrigth2;
    animation-duration: 8s!important;
    animation-iteration-count: infinite;
}

.animst1:hover .contentlayer {
    opacity: 1;

}

/*list slider*/
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 100%;
}

.clear {
    clear-after: both;
}

@keyframes bounce1 {
    0% {
        transform: rotate(3deg);

        -webkit-transform: rotateY(3deg) scale(1.2); /* Chrome, Safari, Opera  */
    }
    50% {
        transform: rotate(-3deg);

        -webkit-transform: rotateY(-3deg) scale(1.1); /* Chrome, Safari, Opera  */
    }
    100% {
        transform: rotate(3deg);

        -webkit-transform: rotateY(3deg) scale(1.2); /* Chrome, Safari, Opera  */
    }

}

@keyframes bounce2 {
    0% {
        transform: rotate(-3deg);

        -webkit-transform: rotateY(-3deg) scale(1.1); /* Chrome, Safari, Opera  */
    }
    50% {
        transform: rotate(3deg);

        -webkit-transform: rotateY(3deg) scale(1.2); /* Chrome, Safari, Opera  */
    }
    100% {
        transform: rotate(-3deg);

        -webkit-transform: rotateY(-3deg) scale(1.1); /* Chrome, Safari, Opera  */
    }

}

@keyframes leftrigth1 {
    0% {
        left: 0;
    }
    50% {
        left: -2%;
    }
    100% {
        left: 0;
    }

}

@keyframes leftrigth2 {
    0% {
        left: -5%;
    }
    50% {
        left: 5%;
    }
    100% {
        left: -5%;
    }

}

@media only screen and (max-width: 768px) {
    .navbar ul li {
        display: block;
    }

    .navbar ul li ul,
    .navbar ul li ul li {
        display: inline-block;
        background: transparent;
        box-shadow: none;
    }

    .collapse in {
        height: 100%;
    }

    .navbar ul li ul {
        position: relative;
    }
}

@media only screen and (max-width: 480px) {
    .animst1 .contentlayer {
        font-size: 13px !important;
        color: #300 !important;
        text-shadow: 0 2px 2px rgba(255, 255, 255, 0.3) !important;

    }

    .animst1 .contentlayer h2 {
        font-size: 15px !important;
        color: #300;
    }
}
