/*
@font-face {
    font-family: opensans;
    src: url("fonts/opensans-regular.ttf") format("truetype");
}

@font-face {
    font-family: opensans;
    font-weight: bold;
    src: url("fonts/opensans-bold.ttf") format("truetype");
}

kék: #1c69ca
kék2: #1e396b
lila: #9f29ff
lila2: #a20fee
*/
html {
    //font-family: opensans;
    background: transparent url(img/htmlbg.webp) no-repeat center bottom;
    background-size: contain;
    min-height: 100%;
    color: #23527c;
}
a{
    color: #0d0d0d;
}
a:hover{
    color: #0f0f0f;
}
body {
    background: transparent;
    font-size: 2em;

}

h1,h2,h3,h4,h5{
    color:#1c69ca;
}

h1{
    background-color: #9f0faf;
    color: #cfff2f ;
    background: -webkit-gradient(linear, 0deg, color-stop(0, 9f29ff), color-stop(100%, 000000));
    background: -webkit-linear-gradient(0deg, #1c69ca 0, #000000 100%);
    background: -o-linear-gradient(0deg, #1c69ca 0, #000000 100%);
    background: -ms-linear-gradient(0deg, #1c69ca 0, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c69ca', endColorstr='#000000', GradientType='1');
    background: linear-gradient(0deg, #1c69ca 0, #000000 100%);

    display: block;
    text-align: left;
    padding-left: 0.2em;
    padding-bottom: 0.6em;
    padding-top: 0.6em;
    padding-right: 2em;
    min-width: 40%;
    width: auto;
    inline-size: max-content;
    font-size: 1.4em;
}

h2{
    color: orange;
}

h3{
    color: #23527c;
}
h4{
    color: green;
}



.btn-success{
    background-color: #1c69ca;
    color: #cfff2f!important;
    border:none;
}
.btn-success:hover{
    background-color: #1e396b;
    color: #cfff2f!important;
}.btn-success:active{
    background-color: #1c69c0;
    color: #cfff2f!important;
}


header {
    padding: 0;
}
.container {

    display: block;
}
.maincontainer {

    margin-top: 100px !important;
    display: block;
}

.imgWrap img {
    width: 100%;
}

/*NEWS Modul*/
news article img {
    width: 100%;
}news article  {
    margin-bottom: 1.5em;
}

header .container-fluid {
    padding: 0;
}

.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border: none !important;;
    width: 100%;
}

.navbar {
    font-size: 0.7em;
    text-transform: uppercase;

    background: -moz-linear-gradient(0deg, #1c69ca 0, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, 0deg, color-stop(0, 1c69ca), color-stop(100%, 000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #1c69ca 0, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #1c69ca 0, #000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #1c69ca 0, #000000 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c69ca', endColorstr='#000000', GradientType='1'); /* for IE */
    background: linear-gradient(0deg, #1c69ca 0, #000000 100%); /* W3C */
}

.navbar-brand {
    background-image: url(img/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -10000px;
}

.navbar-nav > li > a {
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a{
    color: #cfff2f;
}
.navbar-default .navbar-nav>li:hover>a{
    color: #ffff2f;
}
.navbar-nav > li > a:after {
    content: '\25bc';
    font-size: 0.5em;
    margin-left: 3px;
}

.navbar-nav > li > a:only-child:after {
    content: '';
}

.navbar ul li:before {
    display: none;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li ul {
    position: absolute;
    left: 10px;
    width: auto;
    display: none;
    background-color: #fff;
    padding: 0px !important;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 1px 10px;
    border-radius: 0 5px 5px 5px;
}

.navbar ul li ul a {
    padding-left: 5px;
    color: #777;
}

.navbar ul li:hover ul {
    display: block;
}

.navbar ul li ul li {
    display: block;
}

.navbar ul li ul li a {
    padding: 7px 10px;
    display: block;
    text-decoration: none;
}

.navbar ul li ul li a:hover {
    color: #2e383c;
    background-color: #fdfdfd;
}

left ul li,
.veritcalmenu ul li {
    list-style-type: none !important;
    display: block;
}

left ul li ul,
.veritcalmenu ul li ul {
    display: none;
}

left ul li:hover ul,
.veritcalmenu ul li:hover ul {
    display: block;
}

owner img {
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: border-radius;
    -o-border-radius: border-radius;
    -webkit-border-radius: border-radius;
}

/*shop*/
orderinfo .alert{
    padding:0;
}
orderinfo{
    color: red;
    margin: 1em 0;
    font-weight: bold;
}






/* selectbox_roll */

.pager {
    text-align: left;
}

.select_pager_label {
    display: block;
    float: left;
    width: 120px;
    font-weight: bold;
    text-align: left;

}

.select_pager {
    display: block;
    float: left;
    width: 320px;

}

.select_pager .left_arrow,
.select_pager .right_arrow {
    display: block;
    float: left;
    width: 10%;
    height: 20px;
    border: none;
    text-align: center;
    cursor: pointer;

}

.select_pager .left_arrow:hover,
.select_pager .right_arrow:hover {
    color: #FFC;

}

.select_pager .textb1 {
    display: block;
    float: left;
    width: 80%;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

.select_pager {
    display: inline-block;
}

.select_pager {
    color: #FFF;
    border: 1px solid #d1cecf;
    border-radius: 0px;

}

.select_pager .bgcolor3 {
    background: linear-gradient(to bottom, #FFF 0%, #e0e0e0 100%);
    color: #630;
}

ads img,
ads iframe {
    max-width: 100%;
}

/*carusel*/
.owl-carousel .item img {
    width: 100%;
}
.owl-item .slideText h2 { color: #aa00aa !important;}

#fbregsubmit,
.facebookButton {
    background: #44569e;
    border: #354480 solid 1px;
    color: #FFF;
}

.facebookButton {
    padding: 5px;
}

/* Required */
.hiddenb {
    opacity: 0;
}

.visible,
.visibleb {
    opacity: 1;
}

/*Slider*/
#myslider,
slider {
    margin-bottom: 10px;
}

#myslider {
}

#myslider .item img {
    display: block;
    width: 100%;
    height: auto;
}

#myslider .slideContent {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#myslider .slideContent a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#myslider .slideText {
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0;
    max-height: 100%;
    overflow: hidden;
    width: auto;
    min-width: 30%;
    width: 100%;
    color: #000;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
}


.clk{
    cursor: pointer;
}
/**/
video, .video{
    padding-bottom: 1.5em;
}
onevideo{
    padding-bottom: 1em;

}
/*fooldal*/
.pairunpair.location .cim {
    padding: 10px 20px;
    display: inline-block;
    background-color: transparent;
    text-transform: capitalize;
}

.pairunpair.location,
.onelocation .text {
    text-align: center;
}

.img-100 {
    width: 100%;
}

.home article {
    position: relative;
}

.home article .text {
    position: absolute;
    display: block;
    top: 2%;
    left: 2%;
    width: 60%;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.7);
}



/* SHOP */


shop product action {
    background: #1c69ca;
    color: #cfff2f;
}
/* SHOP */




.pairunpair:nth-child(odd) article .text {
    right: 2% !important;
    left: auto !important;
}

/*ANIM*/
.animst1 {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    display: block;
    overflow: hidden;
    -webkit-perspective: 500px; /* Chrome, Safari, Opera  */
    perspective: 500px;
    margin-bottom: 10px;
}

.animst1 .contentlayer,
.animst1 .bgcenterlayer,
.animst1 .bgcenterlayer1,
.animst1 .bg {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: absolute;
    background-size: cover;
}

.animst1 .bg {
    position: relative;
    overflow: hidden;
}

.animst1 .bgcenterlayer {
    width: 110%;
    //background-image: url("http://www.aquasoft.de/blog/hilfe/files/2013/01/Schmutz.png");
    background-image: url("img/P0Wyux.png")!important;
   // opacity: 0.1;
    height: 110%;

}

.animst1 .bgcenterlayer1 {
    width: 110%;
    height: 100%;
    background-image: url("img/eff2.png");

}

.animst1 .contentlayer a {
    text-decoration: none;
}

.animst1 .contentlayer {
    position: absolute;
    left: 1%;
    width: 50%;
    top: 5%;
    height: 90%;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    overflow: hidden;
    text-align: center;

}

.animst1:nth-child(2n+2) .contentlayer {
    left: auto;
    right: 1%;
    width: 50%;
}

.animst1 .contentlayer h2 {
}

.animst1 .bg img {
    position: relative;
    animation-name: bounce1;
    animation-duration: 10s!important;
    animation-iteration-count: infinite;
}

.animst1:nth-child(2n) .bg img {
    position: relative;
    animation-name: bounce2;
    animation-duration: 8s!important;
    animation-iteration-count: infinite;
}

.animst1 .bg img {
    position: relative;
    width: 100%;
    display: block;
}

.animst1 .bgcenterlayer {
    animation-name: leftrigth2;
    animation-duration: 13s!important;
    animation-iteration-count: infinite;
}

.animst1 .bgcenterlayer1 {
    animation-name: leftrigth1!important;
    animation-duration: 15s!important;
    animation-iteration-count: infinite;
}

.animst1:hover .contentlayer {
    opacity: 1;

}

/*list slider*/
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 100%;
}

.clear {
    clear-after: both;
}

@keyframes bounce1 {
    0% {
        transform: rotate(3deg);

        -webkit-transform: rotateY(3deg) scale(1.2); /* Chrome, Safari, Opera  */
    }
    50% {
        transform: rotate(-3deg);

        -webkit-transform: rotateY(-3deg) scale(1.1); /* Chrome, Safari, Opera  */
    }
    100% {
        transform: rotate(3deg);

        -webkit-transform: rotateY(3deg) scale(1.2); /* Chrome, Safari, Opera  */
    }

}

@keyframes bounce2 {
    0% {
        transform: rotate(-3deg);

        -webkit-transform: rotateY(-3deg) scale(1.1); /* Chrome, Safari, Opera  */
    }
    50% {
        transform: rotate(3deg);

        -webkit-transform: rotateY(3deg) scale(1.2); /* Chrome, Safari, Opera  */
    }
    100% {
        transform: rotate(-3deg);

        -webkit-transform: rotateY(-3deg) scale(1.1); /* Chrome, Safari, Opera  */
    }

}

@keyframes leftrigth1 {
    0% {
        left: 0;
    }
    50% {
        left: -2%;
    }
    100% {
        left: 0;
    }

}

@keyframes leftrigth2 {
    0% {
        left: -5%;
    }
    50% {
        left: 5%;
    }
    100% {
        left: -5%;
    }

}

@media only screen and (max-width: 768px) {
    .navbar ul li {
        display: block;
    }

    .navbar ul li ul,
    .navbar ul li ul li {
        display: inline-block;
        background: transparent;
        box-shadow: none;
    }

    .collapse in {
        height: 100%;
    }

    .navbar ul li ul {
        position: relative;
    }
}

@media only screen and (max-width: 480px) {
    .animst1 .contentlayer {
        font-size: 13px !important;
        color: #300 !important;
        text-shadow: 0 2px 2px rgba(255, 255, 255, 0.3) !important;

    }

    .animst1 .contentlayer h2 {
        font-size: 15px !important;
        color: #300;
    }
}
